@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import './fonts/montserrat.scss';
  @import './fonts/noto.scss';

  body {
    line-height: 1.4;
    @apply tw-font-body tw-text-18 tw-text-black2 tw-bg-white;
  }

  input {
    &:focus {
      outline: none;
    }
  }
}

@layer components {
  .wrapper {
    max-width: 1340px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

    @include screen($lg) {
      max-width: 1000px;
    }

    @include screen($md) {
      max-width: 730px;
    }

    @include screen($sm) {
      max-width: 540px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  h1, .h1 {
    line-height: 1.15;
    @apply tw-font-noto tw-text-80 tw-uppercase;

    @include md {
      font-size: 46px;
    }
  }

  .link {
    text-decoration: underline;
  }

  .close-modal {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;

    &:hover {
      opacity: 0.6;
    }
  }

  .nav-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    &:hover {
      opacity: 0.7;
    }

    &--disabled {
      pointer-events: none;
    }
  }
}
