@font-face {
  font-family: 'druk';
  src:
    url('/fonts/druk/DrukWideCyr.woff2') format('woff2'),
    url('/fonts/druk/DrukWideCyr.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
